@import "tailwindcss";

@theme {
  --font-sans: "Courier New", Courier, monospace;
  --font-mono: "Courier New", Courier, monospace;
}

body {
  background-color: #050608;
  color: #e2e8f0;
  font-family: "Courier New", Courier, monospace;
}
